.psu-header {
  background: #15284b;
  padding: 1rem;
  display: block;
  overflow: hidden;
}

.psu-header__brand {
  width: 75%;
  max-width: 300px;
  position: relative;
}

.psu-header__mark {
  width: 75%;
  margin-bottom: 1rem;
  top: 0;
}

.psu-header__tier2-name {
  position: relative;
  margin-left: 26%;
  margin-top: -17%;
  margin-bottom: 1rem;
  font-size: 2em;
  font-size: 2rem;
  color: white;
  line-height: 1.1;
}

.psu-header__tier2-name--small {
  font-size: 1.5rem;
}

.psu-header__tier2-name a {
  color: white;
}

